/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url(./stylesheets/nav.css);
@import url(./stylesheets/bio.css);
@import url(./stylesheets/text-styles.css);
@import url(./stylesheets/backround.css);
@import url(./stylesheets/keyboard.css);



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text: #f5f5f5;
    --backgroundOne: #000000;
    --backgroundTwo: #333333;
    --primary: #9C54A6;
    --secondary: #B57EBC;
    --tertiary: #DBC2DF;
}

body {
    position: relative;
    color: var(--text);
    font-family: 'Lato', sans-serif;
    background-color: var(--backgroundOne);
    background-repeat: no-repeat;
}

section {
    position: relative;
    padding: 50px;
    height: 100vh;
}

.snap-container {
    height: auto; /* Just to make the container taller than the viewport */
    overflow-y: scroll; /* Allow vertical scrolling */
    scroll-snap-type: y mandatory; /* Enable scroll snap behavior */
    scroll-behavior: smooth; /* Smooth scroll behavior */

}

.snap-section {
    scroll-snap-align: start;
}

#main {
    /* display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-areas: 
    "intro . profile-image"
    ". .  profile-image"
    "bio bio profile-image"
    "bio bio profile-image"
    "bio bio .";
    grid-auto-rows: 50vh; */
    background-color: orange;
}

#intro {
    grid-area: intro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
/* 
.profile-image {
    position: fixed;
    top: 0;
    right: 0;
} */

.profile-image_wrapper {
    position: fixed; 
    top: 50px;
    right: 50px;
    width: 25vw;
    height: 25vw;
}

.face-image {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 25vw; /* Adjust size as needed */
    border-radius: 50%;
    opacity: 0;
    z-index: 2;
}


.moon-image {
    position: absolute; /* Stacked on the same wrapper */
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
    z-index: 1;
}


.main-inner_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 20;
    width: 100%;
    height: auto;
    margin: 0 auto auto 0;
    /* background-color: #B57EBC; */
}

.main-inner_wrapper p {
    margin-bottom: 10px;
}

.main-social_wrapper {
    display: flex;
    flex-direction: row;
    width: auto;
    z-index: 100;
}

.social_link img {
    width: 40px;
    margin: 0px;
    margin-right: 10px;
}

