h1 {
    font-size: clamp(16pt, 20vw, 70pt);
    line-height: 1;
    font-weight: 500;
    /* margin: auto; */
    /* margin-left: 0; */
    width: clamp(50px, 100%, 300px);
    min-height: 200px;
}

h2 {
    text-align: center;
    font-size: clamp(14pt, 15vw, 30pt);
    margin-bottom: 25px;
}

.sub-header {
    width: 100%;
    text-align: left;
    margin-left: 5px;
    font-size: clamp(12pt, 1.25vw, 16pt);
    margin-bottom: 0;
}